build*
*.log

src/fortran/*.mod

src/python/pyphydll/
!./src/python/pyphydll/*.py
!./src/python/pyphydll/*.pyx

test/r1
test/utsim/meshes

test/utsim/solver/*
!test/utsim/solver/main_solver.f90
!test/utsim/solver/mod_solver.f90
!test/utsim/solver/Makefile
!test/utsim/solver/main_solver_seq.py

test/utsim/run/*
!test/utsim/run/main.py
!test/utsim/run/phydll.yml

test/t0_nc/*
!test/t0_nc/*.c
!test/t0_nc/*.f90
!test/t0_nc/*.py
!test/t0_nc/*.sh

**/.vscode
