build*
*.log

src/fortran/*.mod

src/python/pyphydll/*.c
src/python/pyphydll/*.so
src/python/pyphydll/build
src/python/pyphydll/python/
src/python/pyphydll/__pycache__
src/python/phydll/__pycache__
src/python/phydll/.vscode
src/python/pyphydll.egg-info/

test/r1
test/utsim/meshes

test/utsim/solver/*
!test/utsim/solver/main_solver.f90
!test/utsim/solver/mod_solver.f90
!test/utsim/solver/Makefile
!test/utsim/solver/main_solver_seq.py

test/utsim/run/*
!test/utsim/run/main.py
!test/utsim/run/phydll.yml

test/t0_nc/*
!test/t0_nc/dl_main.c
!test/t0_nc/phy_main.c
!test/t0_nc/phy_main.f90
!test/t0_nc/phy_main.py
!test/t0_nc/dl_main.py

**/.vscode
